<!DOCTYPE html>
<html>
<head>
    <title>Main Page</title>
</head>
<body>
    <h1>Welcome to the Water Company Admin Portal</h1>
    <ul>
        <li><a href="/admin/create_user_form">Create User</a></li>
        <li><a href="/admin/edit_user_form">Edit User</a></li>
        <li><a href="/admin/view_orders">View Orders</a></li>
        <li><a href="/admin/view_users">View Users</a></li>
        <li><a href="/admin/create_delivery_agent">Create Delivery Agent</a></li>
        <li><a href="/admin/view_delivery_agents">View Delivery Agents</a></li>

    </ul>
    <form action="/logout" method="get" style="margin-top: 20px;">
        <button type="submit">Logout</button>
    </form>
</body>
</html>
