
{% include 'layouts/adminHeader.html' %}



</head>
<style>
   
</style>
<body>
    
{% include 'layouts/adminNav.html' %}

    

    <div class="main-content">
        <header class="d-flex mt-20 justify-content-center align-items-center">
            <h1>Welcome to the Dashboard</h1>
            
        </header>
        
        
        <!-- <footer class="mt-4">
            <p class="text-center">© 2024 Aqua Dropa</p>
        </footer> -->
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
{% include 'layouts/adminFooter.html' %}
